# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
.env

# Flask
*.db
*.sqlite3

# Node.js / React
node_modules/
build/
dist/
.env.local
.env.development
.env.production

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db


# macOS
.DS_Store

# Windows
Thumbs.db
